@import "digital-font/DS-Digital.css";

body.page_frontend_game {
  height: calc(100% - 60px);
  margin-top: 60px;
  background: $gray-800;
  .game-field {
    height: 80%;
    .row {
      height: 20%;
      padding: 0 10px;
    }
    .col {
      height: 100%;
      padding: 5px;
      .cell {
        background: $secondary;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        &.light-on{
          background: $cyan;
        }
      }
    }
  }
  .scores-field {
    height: 20%;

    .scores-panel {
      font-family: DS-Digital, monospace;
      font-size: 6em;
      text-align: center;
      color: $light;
      text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
    }
    .btn-wrap {
      padding: 10px 0;
    }
  }
}

html.page_frontend_game {
  height: 100%;
}